html,body {
    background: #eee;
    color: #000000;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    min-width: 700px;
    overflow-x: hidden;
    color:#222;
}

#container {
    background:white;
    padding: 25px;
}
#box{
    max-width: 800px;
    padding: 10px;
}

p,li{
    text-align:justify;
}

h2{
    font-size: 16px;
    margin-top:2em;
    margin-bottom:-.5em;
    text-transform:uppercase;
}
h3{
    font-size: 16px;
    margin-top:1em;
    margin-bottom:0.5em;
    text-transform:none;
}

a:link {text-decoration:none;font-weight:normal;color:#111}
a.jtitle:link{font-weight:normal; color:#2929CC}
a.jtitle:visited{color:#2929CC}
a:visited {text-decoration:none;color:#111}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}
